In [ ]:
ANS 1:

In [1]:
import pandas as pd

data=[4,8,15,16,23,42]
series=pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
ANS 2:

In [3]:
import pandas as pd

list=[1,2,3,4,5,6,7,8,9,10]
series=pd.Series(list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
ANS 3:

In [5]:
import pandas as pd

data={"Name":["Alice" , "Bob", "Claire"],
     "Age":[25,30,27],
     "Gender":["Female", "Male", "Female"]}
df=pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
ANS 4:

In [ ]:
In pandas, a DataFrame is a two-dimensional labeled data structure that consists of columns and rows. 
It can be thought of as a table or a spreadsheet, where each column represents a variable or feature,
and each row represents an observation or data point. DataFrames provide a convenient way to organize
and manipulate data in a tabular format.

On the other hand, a pandas Series is a one-dimensional labeled array that can hold any data type.
It is similar to a column in a DataFrame but does not have the concept of multiple columns or rows. 
A Series represents a single column of data with an associated index.

In [ ]:
ANS 5:

In [ ]:
Pandas provides a wide range of functions to manipulate data in a DataFrame. Here are some commonly used functions:

1) head() and tail(): These functions allow you to view the first few rows (head()) or the last few rows (tail()) of the DataFrame. They are useful for quickly inspecting the data.

2) info(): This function provides a summary of the DataFrame, including the column names, data types, and the number of non-null values in each column. It helps in understanding the structure of the DataFrame and identifying missing values.

3) describe(): This function generates descriptive statistics of the numerical columns in the DataFrame, such as count, mean, standard deviation, minimum value, and quartiles. It gives a quick overview of the distribution and central tendencies of the data.

4)shape: This attribute returns a tuple representing the dimensions of the DataFrame (number of rows, number of columns). It is useful for checking the size of the DataFrame.

5)loc[] and iloc[]: These indexing operators allow for selection and slicing of rows and columns in the DataFrame. loc[] is used for label-based indexing, while iloc[] is used for integer-based indexing.

EXAMPLE:
    
    # View the first few rows of the DataFrame
print(df.head())

# Calculate descriptive statistics of numerical columns
print(df.describe())

In [ ]:
ANS 6:

In [ ]:
Series: A pandas Series is mutable because you can modify its elements by assigning new values to specific indices or slices.

DataFrame: A pandas DataFrame is mutable because you can modify its columns or individual cells by assigning new values, adding or removing columns, or updating existing data.

 though Series and DataFrame are mutable

In [ ]:
ANS 7:

In [6]:
import pandas as pd

name_series = pd.Series(['John', 'Emma', 'Michael'])
age_series = pd.Series([25, 28, 30])
city_series = pd.Series(['New York', 'London', 'Paris'])

data = {
    'Name': name_series,
    'Age': age_series,
    'City': city_series
}

df = pd.DataFrame(data)

print(df)

      Name  Age      City
0     John   25  New York
1     Emma   28    London
2  Michael   30     Paris